<html lang="en" ng-app="wdiltApp">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <!-- Dependencies -->
    <script src="bower_components/angular/angular.js"></script>
    <!-- <script src="/node_modules/angular/angular.js"></script> -->
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>

    <!-- Angular Material & others styles sheets -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="app.css" />

    <!-- Angular Material requires Angular.js Libraries -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script> -->
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>

    <!-- Angular Material Library -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script> -->
    <script src="bower_components/angular-material/angular-material.js"></script>

    <title>What Did I Learnt Today?</title>
    <script src="app.js"></script>
  </head>

  <body ng-controller="WdiltController" ng-cloak>
    
    <!-- LOGIN FORM -->
    <div ng-if="requireLogin()">
      <md-content class="log-form">
        <div layout="row" layout-align="center center" layout-fill class="outer">
          <div layout="column" class="wrapper" flex>
            <md-input-container>
              <label>Username</label>
              <input ng-model="signBoxName">
            </md-input-container>
            <md-input-container>
              <label>Password</label>
              <input ng-model="signBoxPass" type="password">
            </md-input-container>
            <center>
              <md-input-container>
                <md-button id="login-button" class="md-raised md-primary" ng-click="logIn(signBoxName, signBoxPass, false)">Log In</md-button>
                <md-button id="login-button" class="md-raised md-primary" ng-click="signUp(signBoxName, signBoxPass)">SignUp</md-button>
              </md-input-container>
            </center>
          </div>
        </div>
      </md-content>
    </div>

    <div ng-if="!requireLogin()">
      <md-toolbar style="background-color: #24292e">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
            <md-icon></md-icon>
          </md-button>
  
          <h2 flex style="text-align: center" md-truncate>What Did I Learnt Today?</h2>
  
          <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon md-svg-icon="img/icons/search-white.svg"></md-icon>
          </md-button>
  
          <md-menu md-position-mode="target-right target">
          <md-button class="md-icon-button" aria-label="More"
            aria-label="Menu dropdown" ng-click="openMenu($mdMenu, $event)">
            <md-icon md-svg-icon="img/icons/more-vert-white.svg"></md-icon>
          </md-button>
          <md-menu-content width="5">
            <md-menu-item>
              <md-button>
                <md-icon md-menu-align-target>account_circle</md-icon>
                <span>{{getUsername()}}</span>
              </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
              <md-button ng-click="signOutClicked()">
                <md-icon md-menu-align-target>exit_to_app</md-icon>
                <span>Sign out</span>
              </md-button>
            </md-menu-item>
          </md-menu-content>
          </md-menu>
        </div>
      </md-toolbar>
      
    <!-- TEXT INPUT -->
    <md-content md-theme="input">
      <div class="CardForm" layout="row" layout-align="center center">
        <md-card class="input-wrapper">
          <md-card-title style="padding-top: 0px; padding-bottom: 0px;">
            <md-card-title-text>
              <md-input-container>
                <label>Post</label>
                <!-- <input ng-model="newPostStatus"> -->
                <textarea ng-model="newPost" md-maxlength="200" rows="2" md-select-on-focus></textarea>
              </md-input-container>
            </md-card-title-text>
          </md-card-title>
          <md-card-title layout="row" layout-align="end end" style="padding-top: 0px">
            <md-chips  ng-model="selectedTags" md-autocomplete-snap="width" style="width: 100%">
                <md-autocomplete
                  md-selected-item="selectedItem"
                  md-search-text="searchText"
                  md-items="tag in tags"
                  md-item-text="tag"
                  placeholder="Add tags">
                  <span md-highlight-text="searchText">{{tag}}</span>
                </md-autocomplete>
            </md-chips>
            <md-button class="md-raised md-primary"><b>post</b></md-button>
          </md-card-title>
        </md-card>
      </div>
    </md-content>

    <div layout="column" layout-align="start center">
      <md-card class="cardPost" ng-repeat="i in [0,1,2,3,4,5,6,7,8]">
        <md-card-header>
          <i>May 1, 2018</i>
        </md-card-header>
        <md-card-title class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et 
            lacus iaculis, molestie velit gravida, posuere purus. Integer 
            sollicitudin dui justo, vel viverra metus dapibus ac.
        </md-card-title>

        <md-card-content>
          <div class="chip chip-hover" ng-click="" ng-repeat="i in [0,1,2,3,4,5]">Chip</div>
        </md-card-content>
      </md-card>

      <md-button class="cardPost md-primary md-raised">LOAD MORE</md-button>
    </div>
  </body>
</html>
